body{
  background-color: #333;
}

h2 {
  color: #333;
}

p {
  color: #666;
}
.data{
  margin-left: 550px;
  margin-top: 10%;
}


.welcome {
  text-align: center;
  color: #b6b6b6; 
  font-size: 4em;
  margin-top: 100px;
  margin-bottom: 50px;
}

.main {
  text-align: center;
  background-color: #f4f4f4c2; 
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  
}

h2 {
  color: #373737; 
  font-size: 35px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

h4 {
  color: rgb(34, 34, 34); 
  font-size: 20px;
  margin-top: 5px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #393737;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a6a6a;
}

.update-btn {
  margin-right: 10px;
}

.delete-btn {
  background-color: #6e6e6e;
}

.delete-btn:hover {
  background-color: #313131;
}

.logout{
  display: flex;
  justify-content: center;
}

#logout{
  background-color : #6b6b6b;
}

#notify{
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  font-size: 25px;
}